header {
    position: fixed;
    height: 50px;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #222222;
    color: white;
    font-family: "Lobster";
    line-height: 50px;
    font-size: 200%;
    padding-left: 10px;
}
body {
    font-family: "Open Sans";
}
#draw-area {
    margin-top: 50px;
}
#control-panel {
    top: 50px;
    right: 0px;
    padding: 10px;
    position: fixed;
    height: 100%;
    width: 250px;
    background-color: #333333;
    color: #FFFFFF;
}
fieldset {
    border: solid;
    border-width: 1px;
    border-color: #FFFFFF;
}
input {
    float: right;
    clear: both;
    border: solid 1px #888;
    font-size: 15px;
    border-radius: 5px;
    padding: 2px;
    outline: none;
    width: 30%;
}
#draw {
    width: 100%;
}
.warning {
    box-shadow: 0 0 4 #F2BD1D;
}
.warning::before {
    content: "<i class=\"fa fa-exclamation-triangle\"></i>";
    color: #F2BD1D;
}
.error {
    box-shadow: 0 0 4 #F20600;
}
.error::before {
    content: "<i class=\"fa fa-times\"></i>";
    color: #F20600;
}
